body {
  background-color: black;
  color: aliceblue;
  margin: 0;
  font-family: 'Metropolis', sans-serif;
  font-weight: 100;
}

.nav {
  text-align: center;
}

.logo {
  height: 150px;
  width: 150px;
}

.information {
  display: flex;
  flex-direction: column;
  margin: 0 2% 0 2%;
}

.cover {
  position: relative;
}

.cover-image {
  height: auto;
  width: 100%;
  display: block;
}

.about {
  font-weight: 100;
  font-size: x-small;
  position: absolute;
  top: 75%;
  left: 5%;
}

p {
  margin: 0;
}

.contact {
  display: flex;
  justify-content: space-around;
  margin: 2%;
}

.address {
  margin-left: 2%;
  margin-right: 2%;
}

.hours {
  margin-left: 2%;
  margin-right: 2%;
}

.footer {
}

hr {
  color: aliceblue;
  opacity: 50%;

  width: 100%;
}
