body {
  background-color: black;
  color: rgb(240, 248, 255);
  margin: 0;
  font-family: 'Metropolis', sans-serif;
  font-weight: 300;
  font-size: small;
  animation: fadeInAnimation ease 3s;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.cover {
  position: relative;
  display: flex;
  justify-content: center;
}

.cover-image {
  height: auto;
  width: 95%;
  display: block;
}

.about {
  background-color: rgba(18, 18, 18, 0.4);
  padding: 1%;
  font-weight: 100;
  font-size: small;
  position: absolute;
  top: 75%;
  left: 10%;
  transition: font-size 0.3s ease;
  /* offset-x | offset-y | blur-radius | color */
  text-shadow: 1px 1px 2px black;
}

.about:hover {
  font-size: large;
}

.appointment {
  position: absolute;
  top: 77%;
  left: 72%;
  background-color: transparent;
  color: white;
  border: 2px solid white;
  padding: 1em 0.1em;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  overflow: hidden;
  a {
    color: inherit;
    text-decoration: none;
  }
}

.appointment:hover {
  background-color: white;

  color: black;
}

a {
  text-decoration: none;
}

@media screen and (max-width: 800px) {
  .logo {
    height: 3em !important;
    width: auto;
  }
  .about {
    font-weight: 100;
    font-size: x-small;
    position: absolute;
    top: 65%;
    left: 5%;
    transition: font-size 0.3s ease;
  }
  .about:hover {
    font-size: x-small;
  }
  .information {
    font-size: xx-small;
  }
  .appointment {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 5%;
    left: 50%;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    padding: 1% 2%;
    font-size: x-small;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }

  .appointment:hover {
    background-color: white;
    color: black;
  }

  i {
    font-size: 1em !important;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

.information {
  display: flex;
  justify-content: space-around;
  text-align: center;
  /* flex-direction: column; */
  align-items: center;
  margin: 3% 0 3% 0;
}

p {
  margin: 0;
}

.contact {
  display: flex;
  justify-content: space-around;
  margin: 2% 0 2% 0;
  color: inherit;
  hr {
    width: 100%;
  }
}

.address {
  display: flex;
  justify-content: center;
  margin: 2% 0 2% 0;
  .writtenAddress {
    justify-content: center;
    align-self: center;
    text-align: center;
    margin: 5%;
  }
}

.footer {
  display: flex;
  justify-content: center;
}

a {
  margin: 1%;
}

i {
  color: aliceblue;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-size: xx-large;
}

i:hover {
  color: rgb(255, 111, 0);
}

hr {
  color: aliceblue;
  opacity: 50%;
  width: 98%;
}

#brands {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.brand1 {
  width: 300px; /* Desired width */
  height: 200px; /* Desired height */
  overflow: hidden;
  position: relative;
}

.brand2 {
  width: auto; /* Desired width */
  height: 100px; /* Desired height */
  overflow: hidden;
  position: relative;
}

.brand3 {
  width: 300px; /* Desired width */
  height: 200px; /* Desired height */
  overflow: hidden;
  position: relative;
}

.brand4 {
  width: 300px; /* Desired width */
  height: 200px; /* Desired height */
  overflow: hidden;
  position: relative;
}
